body{
    display: flex;
    flex-direction: column;
    background: rgb(130, 130, 241);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
}
header{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    background: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 500px;
    height: 150px;
    margin: auto;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.493);
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}